azure_subscription_id = ""
## linux_admin = ""
## psql_admin = ""
psql_password = ""
## vn_cidr_block = ""
## artifactory_subnet_cidr_block = ""
## artifactory_db_subnet_cidr_block = ""
## my_ip = ""
## project_absolute_path = ""